body {
    font-family: Arial, sans-serif;
}

#navbar {
    display: flex;
    justify-content: space-evenly;
    background-color: #f0f0f0;
    padding: 10px 0;
}

.info-box {
    flex-grow: 1;
    text-align: center;
    background-color: lightgray;
    border-radius: 10px;
    padding: 10px;
    margin: 0 10px;
}

.info-box h2 {
    margin-bottom: 15px;
}

.action-btn {
    display: block;
    margin: 10px auto;
    padding: 8px 20px;
    border: none;
    border-radius: 20px;
    background-color: #e0e0e0;
    cursor: pointer;
    transition: background-color 0.3s;
}

.action-btn:hover {
    background-color: #c0c0c0;
}

#mainContent form {
    margin: 20px auto;
    padding: 20px;
    background: #f9f9f9;
    border: 1px solid #ccc;
    width: 60%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    border-radius: 10px;
}

.form-group {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    width: 100%;
}

.form-group label {
    flex: 0 0 120px; /* Adjust this value as needed */
    text-align: left; /* Align text to the left */
    display: flex;
    align-items: center; /* Center vertically */
}

.form-group input,
.form-group select {
    flex: 1; /* Allows input to fill the space */
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px; /* Add rounded edges */
    margin-left: -10px; /* Adjust the value to move it to the left */
}

#clientSelect,
#removeClientSelect,
#accountSelect,
#removeAccountSelect {
    width: calc(100% - 40px); /* Adjust to match the input fields width */
    padding: 8px;
    margin-bottom: 20px; /* Add margin to separate from other elements */
    border-radius: 5px; /* Add rounded edges */
}

form h2 {
    margin-bottom: 20px;
}

form p {
    margin-top: 20px;
}

form button {
    margin-top: 20px;
}

#updateClientForm,
#updateAccountForm,
#removeClientForm,
#removeAccountForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#updateClientForm #clientSelect,
#removeClientForm #removeClientSelect,
#updateAccountForm #accountSelect,
#removeAccountForm #removeAccountSelect {
    margin-bottom: 40px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: calc(100% - 160px); /* Align with form-group input fields */
    max-width: 500px; /* Ensure maximum width */
}

#removeClientForm button,
#removeAccountForm button {
    margin-top: 20px;
}

/* Increase vertical spacing for Add Client and Add Account form groups */
#addClientForm .form-group,
#addAccountForm .form-group {
    margin-bottom: 20px; /* Match the spacing with the Update Clients page */
}
